<nav class="navbar bg-dark border-bottom border-body navbar-expand-sm bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">FORR {% if request.user.is_authenticated %} | {{ request.user }} {% endif %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"> Главная </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'mtps' %}">Майтони</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'showroom' %}">Цены</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Профиль
          </a>
          <ul class="dropdown-menu">
            {% if request.user.is_authenticated %}
            <li><a class="dropdown-item" href="/admin"> Админ </a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}"> Выйти </a></li>
            {% else %}
            <li><a  class="dropdown-item" href="/admin"> Войти </a> </li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>


